* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

img {
  border-radius: 5%;
}

.add-consult-view {
  height: 90vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-consult-view .add-consult {
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.add-consult-view .add-consult h1 {
  color: #ffffff;
  font-size: 21px;
}

.add-consult-view .add-consult h1 span {
  background-color: #ffa31a;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 5px;
}

.add-consult-view .add-consult .add-consult__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.add-consult-view .add-consult .add-consult__form .add-consult__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.add-consult-view .add-consult .add-consult__form .add-consult__input label {
  color: white;
  margin: 0 0 10px 0;
}

.add-consult-view .add-consult .add-consult__form .add-consult__input input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.add-consult-view .add-consult .add-consult__form button {
  margin: 10px 0;
  padding: 10px 0;
  width: 50%;
  background-color: #ffa31a;
  border: none;
  outline: none;
  font-size: 21px;
  border-radius: 20px;
}

.history-view {
  height: 90vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history-view .history {
  height: 90%;
  width: 90%;
  background-color: white;
  overflow: scroll;
}

.history-view .history .history__header {
  background-color: #ffa31a;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history-view .history .history__header .history__header-pic {
  height: 90%;
  width: 10%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.history-view .history .history__header .history__header-pic img {
  height: 100%;
  width: 100%;
}

.history-view .history .history__header .history__header-details {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.history-view .history .history__body {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5em 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history-view .history .history__body .history__body-content {
  width: 95%;
  margin: 1em 0;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  padding: 30px;
}

.history-view .history .history__body .history__body-content .history__body-content__main {
  padding: 2%;
  text-align: center;
}

.history-view .history .history__body .history__body-content .history__body-content__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1%;
}

.edit-service-view {
  height: 90vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-service-view .edit-service {
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.edit-service-view .edit-service h1 {
  color: #ffffff;
  font-size: 21px;
}

.edit-service-view .edit-service h1 span {
  background-color: #ffa31a;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 5px;
}

.edit-service-view .edit-service .edit-service__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.edit-service-view .edit-service .edit-service__form .edit-service__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.edit-service-view .edit-service .edit-service__form .edit-service__input label {
  color: white;
  margin: 0 0 10px 0;
}

.edit-service-view .edit-service .edit-service__form .edit-service__input input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.edit-service-view .edit-service .edit-service__form button {
  margin: 10px 0;
  padding: 10px 0;
  width: 50%;
  background-color: #ffa31a;
  border: none;
  outline: none;
  font-size: 21px;
  border-radius: 20px;
}

.add-service-view {
  height: 90vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-service-view .add-service {
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.add-service-view .add-service h1 {
  color: #ffffff;
  font-size: 21px;
}

.add-service-view .add-service h1 span {
  background-color: #ffa31a;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 5px;
}

.add-service-view .add-service .add-service__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.add-service-view .add-service .add-service__form .add-service__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.add-service-view .add-service .add-service__form .add-service__input label {
  color: white;
  margin: 0 0 10px 0;
}

.add-service-view .add-service .add-service__form .add-service__input input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.add-service-view .add-service .add-service__form button {
  margin: 10px 0;
  padding: 10px 0;
  width: 50%;
  background-color: #ffa31a;
  border: none;
  outline: none;
  font-size: 21px;
  border-radius: 20px;
}

.services-view {
  height: 90vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-view .services {
  height: 90%;
  width: 90%;
  background-color: white;
  overflow: scroll;
}

.services-view .services .services__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

.services-view .services .services__head a {
  text-decoration: none;
  background-color: #ffa31a;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}

.services-view .services .services__table {
  width: 100%;
  text-align: center;
}

.edit-pet-view {
  height: 90vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-pet-view .edit-pet {
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.edit-pet-view .edit-pet h1 {
  color: #ffffff;
  font-size: 21px;
}

.edit-pet-view .edit-pet h1 span {
  background-color: #ffa31a;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 5px;
}

.edit-pet-view .edit-pet .edit-pet__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.edit-pet-view .edit-pet .edit-pet__form .edit-pet__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.edit-pet-view .edit-pet .edit-pet__form .edit-pet__input label {
  color: white;
  margin: 0 0 10px 0;
}

.edit-pet-view .edit-pet .edit-pet__form .edit-pet__input input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.edit-pet-view .edit-pet .edit-pet__form button {
  margin: 10px 0;
  padding: 10px 0;
  width: 50%;
  background-color: #ffa31a;
  border: none;
  outline: none;
  font-size: 21px;
  border-radius: 20px;
}

.add-pet-view {
  height: 90vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-pet-view .add-pet {
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.add-pet-view .add-pet h1 {
  color: #ffffff;
  font-size: 21px;
}

.add-pet-view .add-pet h1 span {
  background-color: #ffa31a;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 5px;
}

.add-pet-view .add-pet .add-pet__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.add-pet-view .add-pet .add-pet__form .add-pet__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.add-pet-view .add-pet .add-pet__form .add-pet__input label {
  color: white;
  margin: 0 0 10px 0;
}

.add-pet-view .add-pet .add-pet__form .add-pet__input input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.add-pet-view .add-pet .add-pet__form button {
  margin: 10px 0;
  padding: 10px 0;
  width: 50%;
  background-color: #ffa31a;
  border: none;
  outline: none;
  font-size: 21px;
  border-radius: 20px;
}

.pets-view {
  height: 90vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets-view .pets {
  height: 90%;
  width: 90%;
  background-color: white;
  overflow: scroll;
}

.pets-view .pets .pets__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

.pets-view .pets .pets__head a {
  text-decoration: none;
  background-color: #ffa31a;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}

.pets-view .pets .pets__table {
  width: 100%;
  text-align: center;
}

.edit-customer-view {
  height: 90vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-customer-view .edit-customer {
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.edit-customer-view .edit-customer h1 {
  color: #ffffff;
  font-size: 21px;
}

.edit-customer-view .edit-customer h1 span {
  background-color: #ffa31a;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 5px;
}

.edit-customer-view .edit-customer .edit-customer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.edit-customer-view .edit-customer .edit-customer__form .edit-customer__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.edit-customer-view .edit-customer .edit-customer__form .edit-customer__input label {
  color: white;
  margin: 0 0 10px 0;
}

.edit-customer-view .edit-customer .edit-customer__form .edit-customer__input input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.edit-customer-view .edit-customer .edit-customer__form button {
  margin: 10px 0;
  padding: 10px 0;
  width: 50%;
  background-color: #ffa31a;
  border: none;
  outline: none;
  font-size: 21px;
  border-radius: 20px;
}

.add-customer-view {
  height: 90vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-customer-view .add-customer {
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.add-customer-view .add-customer h1 {
  color: #ffffff;
  font-size: 21px;
}

.add-customer-view .add-customer h1 span {
  background-color: #ffa31a;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 5px;
}

.add-customer-view .add-customer .add-customer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.add-customer-view .add-customer .add-customer__form .add-customer__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.add-customer-view .add-customer .add-customer__form .add-customer__input label {
  color: white;
  margin: 0 0 10px 0;
}

.add-customer-view .add-customer .add-customer__form .add-customer__input input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.add-customer-view .add-customer .add-customer__form button {
  margin: 10px 0;
  padding: 10px 0;
  width: 50%;
  background-color: #ffa31a;
  border: none;
  outline: none;
  font-size: 21px;
  border-radius: 20px;
}

.customers-view {
  height: 90vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers-view .customers {
  height: 90%;
  width: 90%;
  background-color: white;
  overflow: scroll;
}

.customers-view .customers .customers__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

.customers-view .customers .customers__head a {
  text-decoration: none;
  background-color: #ffa31a;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}

.customers-view .customers .customers__table {
  width: 100%;
  text-align: center;
}

.edit-employee-view {
  height: 90vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-employee-view .edit-employee {
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.edit-employee-view .edit-employee h1 {
  color: #ffffff;
  font-size: 21px;
}

.edit-employee-view .edit-employee h1 span {
  background-color: #ffa31a;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 5px;
}

.edit-employee-view .edit-employee .edit-employee__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.edit-employee-view .edit-employee .edit-employee__form .edit-employee__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.edit-employee-view .edit-employee .edit-employee__form .edit-employee__input label {
  color: white;
  margin: 0 0 10px 0;
}

.edit-employee-view .edit-employee .edit-employee__form .edit-employee__input input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.edit-employee-view .edit-employee .edit-employee__form button {
  margin: 10px 0;
  padding: 10px 0;
  width: 50%;
  background-color: #ffa31a;
  border: none;
  outline: none;
  font-size: 21px;
  border-radius: 20px;
}

.add-employee-view {
  height: 90vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-employee-view .add-employee {
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.add-employee-view .add-employee h1 {
  color: #ffffff;
  font-size: 21px;
}

.add-employee-view .add-employee h1 span {
  background-color: #ffa31a;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 5px;
}

.add-employee-view .add-employee .add-employee__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.add-employee-view .add-employee .add-employee__form .add-employee__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.add-employee-view .add-employee .add-employee__form .add-employee__input label {
  color: white;
  margin: 0 0 10px 0;
}

.add-employee-view .add-employee .add-employee__form .add-employee__input input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.add-employee-view .add-employee .add-employee__form button {
  margin: 10px 0;
  padding: 10px 0;
  width: 50%;
  background-color: #ffa31a;
  border: none;
  outline: none;
  font-size: 21px;
  border-radius: 20px;
}

.login-view {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #808080;
}

.login-view .login {
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.login-view .login .login__logo {
  color: #ffffff;
  font-size: 21px;
}

.login-view .login .login__logo span {
  background-color: #ffa31a;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 5px;
}

.login-view .login .login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.login-view .login .login__form .login__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.login-view .login .login__form .login__input label {
  color: white;
  margin: 0 0 10px 0;
}

.login-view .login .login__form .login__input input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.login-view .login .login__form button {
  margin: 10px 0;
  padding: 10px 0;
  width: 50%;
  background-color: #ffa31a;
  border: none;
  outline: none;
  font-size: 21px;
  border-radius: 20px;
}

.employees-view {
  height: 90vh;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.employees-view .employees {
  height: 90%;
  width: 90%;
  background-color: white;
  overflow: scroll;
}

.employees-view .employees .employees__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

.employees-view .employees .employees__head a {
  text-decoration: none;
  background-color: #ffa31a;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}

.employees-view .employees .employees__table {
  width: 100%;
  text-align: center;
}

header {
  background-color: #292929;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

header .logo a {
  text-decoration: none;
}

header .logo a h1 {
  color: #ffffff;
}

header .logo a h1 span {
  background-color: #ffa31a;
  border-radius: 10px;
  color: #1b1b1b;
  padding: 5px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
/*# sourceMappingURL=style.css.map */